pre {
  background: #1d1f21;
  color: #c5c8c6;
}

.heading {
  background-color: #2c3e50;
  color: #fff;
}

.blog-content {
  padding-top: 15px;
}

.comment {
  border-radius: 4px;
  border: 1px solid #333;
  padding: 10px;
}

.animate-show.ng-hide-add, .animate-show.ng-hide-remove {
  transition: all linear 0.25s;
}

.animate-show {
  opacity: 1;
  max-height: 52px;
  line-height: 20px;
}

.animate-show.ng-hide {
  opacity: 0;
  line-height: 0px;
  max-height: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}
.comment p  { font-size: 16px; }
.comment h1 { font-size: 32px; }
.comment h2 { font-size: 26px; }

