header {
  color: #fff;
  position: relative;
  height: 1000px;
  overflow: hidden;
  background-color: #1E8BC3;
}

header .name {
  font-size: 80px;
}

header img.header-img {
  position: absolute;
  top: -200px;
  left: 0;
  right: 0;
  height: 1500px;
  margin-left: auto;
  margin-right:auto;

  -webkit-filter: brightness(35%);
  filter: brightness(35%);
}

header h1 {
  font-size: 60px;
}

header h3 {
  font-size: 32px;
}

header h3 .fa {
  font-size: 12px;
  line-height: 32px;
  vertical-align: middle;
}

.portfolio-item img {
  min-width: 100%;
}

#portfolio .portfolio-item .caption {
  z-index: 100;
}

.fake-image {
  padding-bottom: 72.222222%;
  background-color: green;
  text-align: center;
  position: relative;
}

.fake-image > i {
  position: absolute;
  top: 50%;
  font-size: 64px;
  margin-left: -32px;
  margin-top: -32px;
}

.caption-content {
  padding: 10px;
}
